
<div data-testid="grid-container"
     class="iKwGKEfAfW7Rkx2_Ba4E Z4InHgCs2uhk0MU93y_a"
     style="--column-count: 2; --grid-gap: 12px; --min-container-width: 372px;"
>
  <div aria-live="polite" data-testid="top-result-card" class="eITFAR9yPwhjL_2gxB09">
    <div class="HkbHLcqgUfXruL5xVi28" aria-expanded="false">
      <div draggable="true" class="kVHQenQh3yKEk2n7Ere4">
        <div class="g4PZpjkqEh5g7xDpCr2K kpO5z7v_Nr22lge440TY" style="--card-color: #ED0808;">
          <div class="">
            <img aria-hidden="false" draggable="false"
                 loading="lazy" src="https://i.scdn.co/image/ab67616d00001e028b52c6b9bc4e43d873869699"
                 data-testid="card-image" alt=""
                 class="mMx2LUixlnN_Fu45JpFB SKJSok3LfyedjZjujmFt yOKoknIYYzAE90pe7_SE Yn2Ei5QZn19gria6LjZj"
            >
          </div>
        </div>

        <div class="sm7ZnbOO1Zfg9cupYgPN">
          <a draggable="false" title="DNA." class="Nqa6Cw3RkDMV8QnYreTr"
             dir="auto" href="/track/6HZILIRieu8S0iqY8kIKhj"
          >
            <div class="Type__TypeElement-sc-goli3j-0 kjfRyT nk6UgB4GUYNoAcPtAQaG" data-encore-id="type">
              DNA.
            </div>
          </a>

          <div class="Type__TypeElement-sc-goli3j-0 bDHxRN Za_uNH8nTZ0qCuIqbPLZ qucSNjx66ofSGZDzCuEk k2ndSrHzhAsXBcLqRKYx"
               data-encore-id="type"
          >
            <div class="Type__TypeElement-sc-goli3j-0 bDHxRN Za_uNH8nTZ0qCuIqbPLZ qucSNjx66ofSGZDzCuEk k2ndSrHzhAsXBcLqRKYx"
                 data-encore-id="type"
            >
              <span aria-label="Explicit" class="kpGMQq1KFz620g_BD_dS Cv51KKt1hDVs4oYd4jZ1" title="Explicit">
                E
              </span>
              <a draggable="false" dir="auto" href="/artist/2YZyLoL8N0Wb9xBt1NhZWg">
                Kendrick Lamar
              </a>
              <span class="Type__TypeElement-sc-goli3j-0 ikjyqM RArlOXg8S6l3NgRKrGsO" data-encore-id="type">
                Song
              </span>
            </div>
          </div>
        </div>

        <div class="pgwIORyBdf4nbb4G5_Jx">
          <div class="PFgcCoJSWC3KjhZxHDYH">
            <button data-testid="play-button" aria-label="Play" data-encore-id="buttonPrimary"
                    class="Button-sc-qlcn5g-0 keyrGu"
            >
              <span class="ButtonInner-sc-14ud5tc-0 bbkSuf encore-bright-accent-set">
                <span aria-hidden="true" class="IconWrapper__Wrapper-sc-1hf1hjl-0 bjlVXn">
                  <svg data-encore-id="icon" role="img" aria-hidden="true"
                       viewBox="0 0 24 24" class="Svg-sc-ytk21e-0 iYxpxA"
                  >
                    <path d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                    ></path>
                  </svg>
                </span>
              </span>
            </button>
          </div>
        </div>

        <div class="_gB1lxCfXeR8_Wze5Cx9" data-testid="herocard-click-handler"></div>
      </div>
    </div>
  </div>
</div>